<%- include("partials/header") %>
<!-- <h1>Add new restaurant</h1> -->
<div class="container">
  <h1>Edit Restaurant</h1>
  <form action="/restaurants/<%=restaurant._id%>?_method=PUT" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Restaurant Name</label>
      <input
        type="text"
        class="form-control"
        name="title"
        value="<%=restaurant.title %>"
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Address</label>
      <input
        type="text"
        class="form-control"
        name="description"
        value="<%=restaurant.description %>"
      />
    </div>
    <div class="mb-3">
      <label for="cuisine" class="form-label">Cuisine</label>
      <input
        type="text"
        class="form-control"
        name="cuisine"
        value="<%=restaurant.cuisine %>"
      />
    </div>
    <div class="mb-3">
      <label for="otime" class="form-label">Opening Time</label>
      <input
        type="time"
        class="form-control"
        name="otime"
        value="<%=restaurant.otime %>"
      />
    </div>
    <div class="mb-3">
      <label for="ctime" class="form-label">Closing Time</label>
      <input
        type="time"
        class="form-control"
        name="ctime"
        value="<%=restaurant.ctime %>"
      />
    </div>
    <div class="mb-3">
      <label for="date" class="form-label">Date</label>
      <input
        type="date"
        class="form-control"
        name="date"
        value="<%=restaurant.date.toISOString().split('T')[0] %>"
      />
    </div>
    <div class="mb-3">
      <label for="fdish" class="form-label">Famous Dishes</label>
      <input
        type="text"
        class="form-control"
        name="fdish"
        value="<%=restaurant.fdish %>"
      />
    </div>
    <div class="mb-3">
      <input type="checkbox" class="form-check-input" name="delivery" <%=
      restaurant.delivery ? 'checked' : '' %> />
      <label for="delivery" class="form-label">Delivery?</label>
    </div>
    <div class="mb-3">
      <label for="image_link" class="form-label">Link to Image</label>
      <input type="text" class="form-control" name="image_link"
      value="<%=<restaurant class="image"></restaurant>
      %>" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<!-- <form action="/restaurants" method="POST">
    <label for="title">Restaurant name</label>
    <input type="text" name="title" autofocus>
    <label for="description">Description</label>
    <input type="text" name="description">
    <label for="image">Image Link</label>
    <input type="text" name="image">
    <br />
    <br />
    <button type="submit">Submit</button>
</form> -->

<%- include("partials/footer") %>
